<div class="index">
  <h2>Viagogo Search</h2>

  <%= form_tag('/results', method: "get") do %>
    <%= text_field_tag :search_term, params[:search_term], placeholder: "Search Viagogo" %>
    <%= submit_tag "Search"%>
  <% end %>
</div>
