<h2>Viagogo Search Results</h2>

</br>
<article>
  <% @category.each do |i| %>
    <li>
      <b><%= i.name %></b> <%= link_to "Tickets", i.links["category:webpage"].href, class: "link" %>
      <%= i.description_html.html_safe %>
    </li>
  <% end %>
</article>
